@model Dish

@{
	ViewData["Title"] = "Details";
}

@if (Model != null)
{
	<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a asp-action="Index" style="color: #26112b;">Popis jela</a></li>
		<li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
	</ol>
	</nav>
	

	<div>
		<h4>@Html.DisplayFor(model => model.Name)</h4>
		<hr />
		<dl class="dl-horizontal">
			<dt>
				Opis
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Description)
			</dd>
			<dt>
				Cijena
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Price) kn
			</dd>
			<dt>
				Restoran
			</dt>
			<dd>
				@Model?.Restaurant?.Name
			</dd>
			<dt>
				Stupanj ljutosti
			</dt>
			<dd>
				@Model?.Spiciness?.Level
			</dd>
			<dd><a asp-action="Edit" asp-route-id="@Model?.ID" class="btn btn-outline-info" style="background-color: #26112b; color: white; border-color: #26112b;">>Uredi</a></dd>
		</dl>
	</div>

}
else
{
	<div class="alert alert-danger">
		Nije odabran ispravni ID jela.
	</div>

}

