@model ZavrsniLuksic.Model.Restaurant

@{
	ViewData["Title"] = "Izmjena postojećeg restorana";
}

<h2>@ViewData["Title"]</h2>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index1" style="color: #26112b;">Popis restorana</a></li>
        <li class="breadcrumb-item active" aria-current="page">Postojeći restoran</li>
    </ol>
</nav>


<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit1">
            <input asp-for="ID" type="hidden" />
            @await Html.PartialAsync("_CreateOrEdit1")
        </form>
    </div>

</div>
@section scripts{
    <script>
        var warnMessage = "You have unsaved changes on this page!";

        $(document).ready(function () {
            $('input:not(:button,:submit),textarea,select').change(function () {
                window.onbeforeunload = function () {
                    if (warnMessage != null) return warnMessage;
                }
            });
            $('input:submit').click(function (e) {
                warnMessage = null;
            });
        });
    </script>


}