@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1" style="color: #26112b;">Sustav stupnjevanja ljutosti</h1>
    <h4 class="text-muted">-poredano od najblažeg do najljućeg-</h4>
    <ul class="list-group" style="padding: 50px;">
  <li class="list-group-item" style="background-color: #ffec19; color: #26112b;">Nije ni posoljeno</li>
  <li class="list-group-item" style="background-color: #ffc100; color: #26112b;">Prstohvat cimeta mi je doseg</li>
  <li class="list-group-item" style="background-color: #ff9800; color: #26112b;">Pikantno</li>
  <li class="list-group-item" style="background-color: #ff5607; color: #26112b;">Neki to vole vruće</li>
  <li class="list-group-item" style="background-color: #f00505; color: #26112b;">Eh, da je Dante samo znao za tebe...</li>
</ul>
</div>
