@{
    ViewData["Title"] = "O nama";
}
<h1>@ViewData["Title"]</h1>

<p style="padding: 30px;"><em>@ViewBag.Message</em></p>

<figure class="text-center">
  <blockquote class="blockquote">
    <p>If you can't stand the heat - get out of the kitchen.</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Neka opaka <cite title="Source Title">Njuška</cite>
  </figcaption>
</figure>